body {
  font-family: Arial, sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  height: 100vh;
  background-color: #fffc00;
}

.logo {
  width: 50px; /* Adjust width as needed */
  height: 50px
  margin-top: 20px;
}

.container {
  position: absolute; /* Allows more precise placement in the middle */
  top: 50%; /* Start positioning from the vertical middle */
  transform: translateY(-50%);
  background: #e3e149;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #bfbe3d;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #9c9a30;
}

.footer-text {
  position: absolute;
  bottom: 10px; /* Distance from the bottom of the page */
  width: 100%;
  text-align: center;
  font-size: 12px; /* Make the text small */
  color: #5e5e25; /* Gray color for subtle text */
}

#statusMessage {
  margin-top: 20px;
  font-weight: bold;
}
