body {
  font-family: Arial, sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  height: 100vh;
  background-color: #ebebeb;
}

h1 {
    color: black;
    font-size: 22px;
    font-weight: 750;
}

.logo {
  width: 40px; /* Adjust width as needed */
  height: 40px
  /*margin-top: 20px;*/
}

.warning-text {
    color: #8c8c8c;
    font-size: 12px;
}

.container {
  position: absolute; /* Allows more precise placement in the middle */
  top: 50%; /* Start positioning from the vertical middle */
  transform: translateY(-50%);
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

input[type="text"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  background-color: #ebebeb;
  outline: none; /* Removes the outline */
}

button {
  padding: 10px 20px;
  background-color: #ebebeb;
  color: black;
  border: 1px solid #c7c7c7;
  border-radius: 13px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #b8b8b8;
}

.footer-text {
  position: absolute;
  bottom: 10px; /* Distance from the bottom of the page */
  width: 100%;
  text-align: center;
  font-size: 12px; /* Make the text small */
  color: #8c8c8c; /* faded gray for subtle text */
}

/* Footer styles */
.footer {
  width: 100%; /* Ensure it spans the entire page horizontally */
  border-top: 1px solid silver; /* Gray line across the top */
  background-color: white; /* White background for the footer */
  text-align: center; /* Center-align the footer text */
  padding: 20px 0; /* Add space above and below the text */
  position: fixed; /* Keep the footer at the bottom */
  bottom: 0; /* Align to the bottom of the screen */
  left: 0; /* Ensure it starts at the left edge */
  font-size: 14px; /* Optional: Adjust the font size */
  font-weight: 200;
  color: #555; /* Optional: Subtle text color */
}

#statusMessage {
  margin-top: 20px;
  color: #8c8c8c;
}
