body {
  font-family: Arial, sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  height: 100vh;
  background-color: #ebebeb;
}

.logo {
  width: 25px; /* Adjust width as needed */
  height: 25px
  /*margin-top: 20px;*/
}

.warning-text {
    color: #8c8c8c;;
    font-size: 12px;
}

.container {
  position: absolute; /* Allows more precise placement in the middle */
  top: 50%; /* Start positioning from the vertical middle */
  transform: translateY(-50%);
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

input[type="text"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #dedede;
}

button {
  padding: 10px 20px;
  background-color: #dedede;
  color: black;
  border: 1px solid #a3a3a3;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #b8b8b8;
}

.footer-text {
  position: absolute;
  bottom: 10px; /* Distance from the bottom of the page */
  width: 100%;
  text-align: center;
  font-size: 12px; /* Make the text small */
  color: #5e5e25; /* faded yellow for subtle text */
}

#statusMessage {
  margin-top: 20px;
  font-weight: bold;
}
